/* Colors and styling */
:root{
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(0, 0%, 90%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.dark-mode {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 10%);
  --blackColor: hsl(0, 0%, 90%);
  --textColor: hsl(0, 0%, 90%);
  --whiteColorDeam: hsl(0, 0%, 20%);
  --greyText: rgb(100, 100, 100);
  --inputColor: rgb(50, 50, 50);
  --bodyColor: rgb(30, 30, 30);
  --cardBG: rgb(50, 50, 50);
}

.details {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .detailsHeader {
      text-align: start;
      margin-bottom: 2rem;
  
      h1 {
        font-size: 2.5rem;
        color: var(--blackColor);
        margin-bottom: 1rem;
      }
  
      .location {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: var(--textColor);
  
        .icon {
          margin-right: 0.5rem;
          font-size: 1.5rem;
          color: var(--PrimaryColor);
        }
      }
  
      .fees {
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--PrimaryColor);
        margin-top: 1rem;
      }
  
      .grade {
        margin-top: 1rem;
        font-size: 1.2rem;
        color: var(--SecondaryColor);
        font-weight: bold;
      }
    }
  
    .detailsImage {
      width: 50%;
      height: auto;
      margin: 0 auto;
  
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }
    }
  
    .detailsDescription {
      max-width: 800px;
      text-align:left;
      font-size: 1.1rem;
      color: var(--textColor);
  
      p {
        line-height: 1.8;
      }
    }
  }  