@charset "UTF-8";
/* Colors and styling */
:root{
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(201, 33%, 16%);
  --textColor: hsl(0, 0%, 90%);
  --whiteColorDeam: hsl(0, 0%, 93%);
  --greyText: rgb(190, 190, 190);
  --inputColor: rgb(239, 239, 239);
  --bodyColor: rgb(240, 240, 246);
  --cardBG: rgb(225, 225, 235);
}

.dark-mode {
  --PrimaryColor: hsl(199, 100%, 33%);
  --SecondaryColor: hsl(187, 85%, 43%);
  --GradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
  --whiteColor: hsl(0, 0%, 10%);
  --blackColor: hsl(0, 0%, 90%);
  --textColor: hsl(0, 0%, 90%);
  --whiteColorDeam: hsl(0, 0%, 20%);
  --greyText: rgb(100, 100, 100);
  --inputColor: rgb(50, 50, 50);
  --bodyColor: rgb(30, 30, 30);
  --cardBG: rgb(50, 50, 50);
}
/* Header and Navbar styling */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--whiteColorDeam);
  width: 100%;
  padding: 1rem;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(2, 15, 29, 0.242);
}
.header .logo {
  color: var(--blackColor);
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .logo .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  margin-right: 0.5rem;
}
.header .navBar {
  display: flex;
  align-items: center;
}
.header .navBar .navLists {
  display: flex;
  list-style: none;
}
.header .navBar .navLists .navItem {
  margin-right: 1.5rem;
}
.header .navBar .navLists .navItem .navLink {
  color: var(--textColor);
  font-weight: 500;
  text-decoration: none;
}
.header .navBar .navLists .navItem .navLink:hover {
  color: var(--PrimaryColor);
}
.header .navBar .btn {
  background-color: var(--PrimaryColor);
  color: var(--textColor);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.header .navBar .btn:hover {
  background-color: var(--SecondaryColor);
}
.header .toggleNavbar {
  display: none;
}
.header .toggleNavbar .icon {
  font-size: 25px;
  color: var(--PrimaryColor);
  cursor: pointer;
}
.header .toggleNavbar .icon:hover {
  color: var(--SecondaryColor);
}
.header .auth-buttons {
  display: flex;
  justify-content: flex-end;
  margin-left: 1.5rem; /* Distanca nga butoni BOOK NOW */
  /* Butoni për Account që të ridrejton */
}
.header .auth-buttons .auth-btn {
  background-color: var(--PrimaryColor); /* Ngjyra e sfondit */
  border: none;
  color: var(--textColor);
  padding: 10px; /* Madhësia e butonit */
  border-radius: 50%; /* E bën butonin të rrumbullakët */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Bëje të barabartë gjerësinë dhe lartësinë */
  height: 50px; /* Për të krijuar një formë të rrumbullakët */
  transition: background-color 0.3s ease;
}
.header .auth-buttons .auth-btn:hover {
  background-color: var(--SecondaryColor);
}
.header .auth-buttons .auth-btn .icon {
  font-size: 24px; /* Madhësia e ikonës */
}
@media screen and (max-width: 768px) {
  .header .navBar {
    position: absolute;
    background: var(--whiteColorDeam);
    height: max-content;
    width: 80%;
    border-radius: 1rem;
    top: -500rem;
    left: 50%;
    padding: 1rem;
    transform: translate(-50%);
    z-index: 2000;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
    transition: 0.5s ease-in-out;
  }
  .header .navBar .navLists {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem {
    padding: 0.5rem 0;
  }
  .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    font-weight: 600;
  }
  .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .navBar .navLists .btn {
    margin-top: 1rem;
  }
  .header .navBar .closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    color: var(--PrimaryColor);
    cursor: pointer;
  }
  .header .navBar .closeNavbar:hover {
    color: var(--SecondaryColor);
  }
  .header .activeNavbar {
    top: 7rem;
  }
  .header .toggleNavbar {
    display: block;
  }
  .header .toggleNavbar .icon {
    font-size: 25px;
    color: var(--PrimaryColor);
    cursor: pointer;
  }
  .header .toggleNavbar:hover .icon {
    color: var(--SecondaryColor);
  }
}
@media screen and (min-width: 769px) {
  .header .toggleNavbar, .header .closeNavbar {
    display: none;
  }
  .header .header {
    padding: 1.5rem 2rem;
  }
  .header .header .navBar .navLists {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .header .header .navBar .navLists .navItem .navLink {
    color: var(--textColor);
    padding: 0 0.45rem;
    font-size: 0.9rem;
    font-weight: 500;
  }
  .header .header .navBar .navLists .navItem .navLink:hover {
    color: var(--PrimaryColor);
  }
  .header .header .navBar .navLists .btn {
    margin-left: 1rem;
  }
}
@media screen and (min-width: 960px) {
  .header .header .navBar .navLists .navItem {
    padding: 0 0.7rem;
  }
}
@media screen and (min-width: 1240px) {
  .header .header {
    padding: 1rem 8.5rem;
  }
}

/*# sourceMappingURL=navbar.css.map */
